@charset "UTF-8";

P::first-letter{
    color:red;
}

p::first-line{
    color:blue;
}

p::selection{
    background:burlywood;
}

h1::after{
    content:".";
}

h1::before{
    content:"Ejemplo de ";
}

/*Trabajar con columnas en textos*/
#ejemplo{
    column-count: 3;
    column-width: 100px;
    column-gap: 20px; /*espacio entre columnas*/
    column-rule: 1px solid #ccc; /*agrega línea entre columnas*/
}

/*RGBA canal alpha*/
body{
    background-color:rgba(100, 20, 40, 0.5);
}
